attrs
beautifulsoup4
bs4
certifi
charset-normalizer
cx_Freeze
filelock
h11
idna
magnet-parser
outcome
packaging
patchelf
pyaes
pyasn1
PyJWT
PySocks
python-dotenv
requests
rsa
selenium
setuptools
sniffio
sortedcontainers
soupsieve
Telethon
trio
trio-websocket
typing_extensions
undetected-chromedriver
urllib3
websocket-client
websockets
wsproto
